@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Playpen Sans;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 75px 1fr 50px;
}

header {
    background-color: #111920;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
}

#headline {
    grid-column: 1 / -1;
}

.card > img {
    width: 100%;
    height: auto;
}

.card {
    background-color: aliceblue;
    color: black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 0.3em;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content {
    background-color: #b42b4d;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    text-align: center;
    gap: 15px;
    justify-content: center;
}

footer {
    background-color: #111920;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}